.module {
    padding-top: 20%;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
    color: #eee;
    background-color: #3f525c;
    border-radius: 2px;
}

.title {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.module:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
}

@media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
}

@media (max-width: 1024px) {
    .module {
      min-width: 60px;
    }
}
