fieldset {
    width: 30%;
    border-radius: 25%;
    background-color: aliceblue;
}

legend {
    text-align: center;
    font-size: 2em;
    color: darkslateblue;
}

.field {
    width: 80%;
    padding-left: 10%;
}

section {
    margin-left: 60%;
}

button {
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5%;
}

input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}

button:hover {
    background-color: #cfd8dc;
}
