.title {
    background-color: #ffffff;
}

.add {
    border-radius: 50%;
    margin-left: 0.5%;
}

a {
    color: #333;
    text-decoration: none;
    display: block;
}

a:hover {
    color: #607D8B;
}

.badge {
    height: 100%;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    position: relative;
    left: -1px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.delete {
    border-radius: 5%;
    background-color: gray !important;
    width: 200%;
}

button:hover {
    background-color: #cfd8dc;
}
