<div *ngIf="!loaded">
    <mat-spinner></mat-spinner>
</div>
<div>
    <mat-toolbar class="title">My Heroes</mat-toolbar>
    <mat-form-field appearence="standard" class="filter">
        <mat-label>Filtering parameter:</mat-label>
        <input matInput type="text" [formControl]="filterControl">
    </mat-form-field>
    <button [disabled]="filterControl.value == ''" mat-fab (click)="filter()" color="accent" aria-label="Filter icon button" class="add">
        <mat-icon class="icon">search</mat-icon>
    </button>
    <button mat-fab (click)="clear()" color="accent" aria-label="Clear filter icon button" class="add">
        <mat-icon class="icon">clear</mat-icon>
    </button>
    <button mat-fab (click)="openAddDialog()" color="primary" aria-label="Add icon button" class="add">
        <mat-icon class="icon">add_box</mat-icon>
    </button>
    <mat-table [hidden]="!loaded" [dataSource]="dataSource" matSort class="table">        
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let hero" class="badge"><b>{{heroes.indexOf(hero) + 1}}</b></td>
        </ng-container>
        
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
            <td mat-cell *matCellDef="let hero">
                <a mat-button routerLink="/detail/{{hero._id}}">{{hero.name}} </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="age">Age (y.o.)</th>
            <td mat-cell *matCellDef="let hero"><pre> {{hero.age}} </pre></td>
        </ng-container>

        <ng-container matColumnDef="class">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="class">Class</th>
            <td mat-cell *matCellDef="let hero"><pre> {{hero.class}} </pre></td>
        </ng-container>

        <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let hero">
                <button mat-icon-button (click)="openDeleteDialog(hero)" color="warn" area-label="Delete icon button" class="delete">
                    <mat-icon>clear</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="disclaimer">
            <td mat-footer-cell *matFooterCellDef colspan="5">
                <div class="footer"><b><i>All the characters are fictional. Any coincidences are accidental.</i></b></div>
            </td>
        </ng-container>        

        <tr mat-header-row *matHeaderRowDef="['position', 'name', 'age', 'class', 'button']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['position', 'name', 'age', 'class', 'button']"></tr>

        <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr>
    </mat-table>
    <mat-paginator [pageSize]="5" showFirstLastButtons class="paginator"></mat-paginator>
</div>
