<div *ngIf="!loaded else condition">
    <mat-spinner></mat-spinner>
</div>
<ng-template #condition>
    <mat-toolbar class="title">My Heroes</mat-toolbar>
    <mat-form-field appearance="outline">
        <mat-label>Hero name</mat-label>
        <input matInput type="text" [formControl]="newControl">
    </mat-form-field>
    <button mat-fab (click)="add(newControl.value); newControl.setValue('')" color="primary" aria-label="Add icon button" class="add">
        <mat-icon class="icon">add_box</mat-icon>
    </button>
    <mat-table #table [dataSource]="heroes">
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let hero" class="badge">{{heroes.indexOf(hero) + 1}}</td>
        </ng-container>
        
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let hero">
                <a mat-button routerLink="/detail/{{hero._id}}">{{hero.name}}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let hero">
                <button mat-icon-button (click)="openDialog(hero)" color="warn" area-label="Delete icon button" class="delete">
                    <mat-icon>clear</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['position', 'name', 'button']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['position', 'name', 'button']"></tr>
    </mat-table>
</ng-template>
